<nav>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
  >
    Home
  </a>
  <a
    routerLink="/zipcode"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Zip Code Finder
  </a>
  <a routerLink="/logs" routerLinkActive="active" ariaCurrentWhenActive="page">
    Logs
  </a>
</nav>
<div id="main">
  <router-outlet></router-outlet>
</div>
<footer>
  <div>&copy;Joe Bouchard, {{ currentYear }}</div>
  <br />
  <app-logs></app-logs>
</footer>
