nav, footer {
    background: #204039;
    margin: 0;
    height: fit-content;
}
nav {
    display: flex;
    box-shadow: 0px 4px 12px -8px black
}
nav a {
    color: #eee;
    text-decoration: none;
    padding: 16px;
}
nav a.active {
    color: #f8f8f8;
    background-color: #111042;
}
nav a:hover {
    color: #fff;
    background-color: #103029;
}
footer {
    color: white;
    padding: 6px;
    margin-top: 12px;
    flex-grow: 1;
    box-shadow: 0px -4px 12px -8px black
}
#main {
    flex-grow: 1;
    height: fit-content;
    min-height: 80vh;
}