nav, footer {
    background: #020024;
    margin: 0;
    height: fit-content;
    display: flex;
}
nav a {
    color: #d0e0f0;
    text-decoration: none;
    padding: 16px;
}
nav a.active {
    color: #e0e8f0;
    background-color: #111042;
}
nav a:hover {
    color: #f8f8f8;
    background-color: #3a74a8;
}
footer {
    color: white;
    padding: 6px;
    margin-top: 12px;
}
#main {
    flex-grow: 1;
}