/* You can add global styles to this file, and also import other style files */
html {
    background: #607080;
    font-family: "Arimo", sans-serif;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
h1 {
    color: white;
    font-family: 'Montserrat', 'Arimo', sans-serif;
}
app-root {
    display: flex;
    height: 100%;
    flex-direction: column;
}