<h1>Joe's Angular Sandbox</h1>
<div class="display-box">
  This is a collection of various small projects I have been doing as a part of
  my effort to learn modern Angular. Feel free to poke around. If you find any
  issues or have any ideas for improvement, please let me know at
  <a href="mailto:joecbouchard@gmail.com">JoeCBouchard&#64;gmail.com</a>. I am
  always looking to learn and improve. The code for this site is located at
  <a href="https://github.com/JoeBouchard/angular-sandbox">
    the Angular Sandbox repo on my GitHub.
  </a>
  Below, you can find a list of the each project on the site. Click an item to
  go to the page.
</div>
<hr />
<div class="project-card-container">
  <a routerLink="/zipcode" class="display-box">Zip Code Finder</a>
  <a routerLink="/forex" class="display-box"
    >Currency exchange rates over time</a
  >
</div>
